.global-search-component-wrapper {
    .global-search-wrapper {
        margin-top: 30px;
        margin-bottom: 30px;
        .gs-title {
            font-size: 25px;
            color: #5b5b5b;
        }
    }
}