@import "../../assets/scss/_variables.scss";

.login-wrap {
    .login-section {
        min-width: 30%;
        border-radius: 15px;
        border: 2px solid black;
        .login-header {
            padding: 8px 16px;
            background-color: lightgrey;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            p {
                font-size: 16px;
                font-weight: bold;
            }
        }
        .login-body {
            padding: 8px 16px;
            label {
                font-size: 14px;
                font-weight: bold;
            }
            input {
                height: 35px;
                border-radius: 5px;
            }
            input.login-submitted.ng-invalid {
                border: 1px solid #f00;
            }
            input.signup-submitted.ng-invalid {
                border: 1px solid #f00;
            }
            .error-msg{
                color: red;
                line-height: 1px;
                font-size: 10px;
            }
            .input-email{
                position: relative;
                input{
                    padding-right: 40px;
                }
                .info-icon{
                    position: absolute;
                    right: -4px;
                    top: -1px;
                    cursor: pointer;
                    button{
                        background-color:  transparent;
                        border: none;
                        &:focus{
                            background-color:  transparent;
                            border: none ;
                            box-shadow: none;  
                        }
                    }
                    svg{
                        color: black;
                    }
                }
            }
        }
        .login-footer {
            padding: 0px 16px 16px 16px;
            button {
                cursor: pointer;
                border-radius: 5px;
                background-color: white;
                &:hover {
                    background-color: $blue;
                    color: white;
                }
                &:disabled {
                    background-color: unset;
                    color: unset;
                    cursor: unset;
                }
                .spinner-border-sm {
                    width: 0.75rem;
                    height: 0.75rem;
                }
                .text-blue {
                    color: $blue;
                }
            }
        }
    }
}

//snack bar
::ng-deep .success {
    background: #2e8033;
    color: white;
}

::ng-deep .error {
    background: #f44336;
    color: white;
}
