@import "../../../../assets/scss/_variables.scss";
.table-wrapper {
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  .editable {
    tr {
      &:hover {
        td {
          background: #a4d8e6;
          cursor: pointer;
        }
      }
    }
  }
  .modifiers {
    button {
      border-radius: 10px;
      &.edit-btn {
        &:hover {
          background-color: $blue;
          color: white;
        }
      }
      &.del-btn {
        &:hover {
          background-color: #f00;
          color: white;
        }
      }
    }
  }
}
